@import "../../variables";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

.profile_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  padding-top: 15%;
  font-family: "Source Sans Pro", sans-serif;

  .profile_circle {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-color: $pastelyellow;
    img {
      border-radius: 50%;
      width: 200px;
      height: 200px;
      object-fit: cover;
    }
  }
  p {
      color: $pastelyellow;
      font-size: 20px;
      font-weight: bold;
  }

}
.text-holder {
  width: 400px;
  text-align: center;
  margin-bottom: 100px;
}  
image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: block;
}