@import "../variables";

button {
  border: none;
  outline: none;
  text-decoration: none;
  text-align: center;
  text-transform: none;
  background-color: $limegreen;
}

.layout {
  margin: 0;
  height: 100vh;
  background-color: $limegreen;
}

.button-component {
  button {
    padding: 20px;
    border-radius: 10px;
    font-family: "Source Sans Pro", sans-serif;
    background-color: $pastelyellow;
    font-size: 16px;
    font-weight: bold;
    color: $trunkbrown;
  }
}


.menu-container {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
  ul {
    list-style: none;
  }
  li {
    font-size: 16px;
    font-weight: bold;
    font-family: "Source Sans Pro", sans-serif;
    margin-right: 10px;
    color: $pastelyellow;
    display: inline;
  }
}

.parent_hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  height: 170px;
  width: 170px;
  margin: 10px;   
  background-color: $pastelblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hexagon {
  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  height: 150px;
  width: 150px;
}

img {
  width: 400px;
  height: 300px;
}
