@import '../variables';

.layout {
    margin: 0;
    height: 100vh;
    background-color: $limegreen;
}

.button-component {
    button {
        border: none;
        outline: none;
        text-decoration: none;
        text-align: center;
        text-transform: none;
        padding: 20px;
        border-radius: 10px;
        font-family: "Source Sans Pro", sans-serif;
        background-color: $pastelyellow;
        font-size: 16px;
        font-weight: bold;
        color: $trunkbrown;
    }
}
.image-panel {
    width: 250px;
    height: 250px;
}
