.table {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: auto auto 180px auto;
    flex-wrap: wrap;
    padding-top: 12%;
    width: auto;
    height: auto;
}
.projects-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.panel-container {
    padding: 10px;
}
