.table {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin: auto;
    flex-wrap: wrap;
    padding-top: 12%;
    width: 350px;
    height: 350px;
}
.projects-button-scroll {
    
}